@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap");

:root {
	--color-accent: #2c6c50;
	--color-light: #f4e9cd;
	--color-dark: #000000;

	--font-family: "Poppins", sans-serif;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-strong: 600;

	--font-size-h1: 4rem;
	--font-size-h2: 3rem;
	--font-size-h3: 1.5rem;
	--font-size-h4: 1.25rem;

	--border-radius: 8px;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.hidden {
	display: none;
}

body {
	font-family: var(--font-family);
	line-height: 2rem;
	background-color: var(--color-light);
}

.page-wrapper {
	display: flex;
	min-height: 100vh;
}

.sidebar {
	position: relative;
	flex: 0 0 35%;
	z-index: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.sidebar img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: -1;
}

.sidebar p:first-of-type {
	width: 6ch;
	background-color: var(--color-dark);
	color: var(--color-light);
	border: 5px solid var(--color-light);
	font-size: var(--font-size-h1);
	font-weight: var(--font-weight-strong);
	line-height: 3.5rem;
	padding: 2rem;
	margin-top: 25%;
}

.sidebar p:last-of-type {
	width: 100%;
	margin-bottom: 5%;
	color: var(--color-light);
	text-align: center;
}

.sidebar a {
	text-decoration: none;
	color: var(--color-accent);
}

.sidebar a:hover {
	color: var(--color-light);
}

.main-content {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 auto;
}
.header-text,
.form-wrapper,
.call-to-action {
	margin-left: 10%;
}

.header-text {
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-light);
	line-height: 2rem;
	margin-top: 3rem;
	margin-right: 2rem;
	max-width: 666px;
}

.italicize {
	font-style: italic;
}

.accent {
	color: var(--color-accent);
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-strong);
	line-height: 4rem;
	flex-basis: 420px;
}

legend {
	font-size: var(--font-size-h3);
	font-weight: var(--font-weight-strong);
	color: var(--color-accent);
}

fieldset {
	border: none;
	padding-top: 5%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.form-row {
	display: flex;
	justify-content: flex-start;
	gap: 6%;
}

.form-input {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.label-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.validation-img {
	height: 2rem;
}

label {
	font-weight: var(--font-weight-strong);
	font-size: var(--font-size-h4);
}

input {
	height: 3rem;
	width: 250px;
	border: 1px solid transparent;
}

input:focus {
	border: 1px solid transparent;
}

.input-hint {
	font-size: 0.75rem;
}

.password-mismatch {
	font-size: 0.75rem;
	color: #a24343;
}

button {
	appearance: none;
	background-color: var(--color-dark);
	color: var(--color-light);
	border-radius: var(--border-radius);
	border: 1px solid transparent;
	font-size: var(--font-size-h4);
	font-weight: var(--font-weight-strong);
	padding: 1rem;
}

button:hover {
	transform: scale(1.05);
}

button:active {
	background-color: var(--color-accent);
}

.main-content a {
	text-decoration: none;
	color: var(--color-dark);
	font-weight: var(--font-weight-strong);
}

.main-content a:hover {
	color: var(--color-accent);
}

.call-to-action p {
	margin-top: 1rem;
}

.small {
	font-size: 0.75rem;
	font-weight: var(--font-weight-light);
}
.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0 2rem 0 2rem;
	background-color: var(--color-accent);
	color: var(--color-light);
	font-size: 0.8rem;
}

.footer a {
	color: var(--color-light);
	font-weight: var(--font-weight-regular);
}
.footer a:hover {
	color: var(--color-dark);
}

.footer img {
	display: block;
	max-width: 100%;
	height: 1.5rem;
}

@media screen and (max-width: 1000px) {
	.page-wrapper {
		flex-direction: column;
	}

	.sidebar {
		justify-content: center;
		align-items: center;
		gap: 20px;
		padding: 20px;
		margin: 0;
	}
	.sidebar p:first-of-type {
		margin: 0;
	}
	.sidebar p:last-of-type {
		margin: 0;
	}
	.main-content {
		background-color: var(--color-light);
		min-height: 100vh;
		align-items: center;
		justify-content: space-around;
		gap: 2rem;
		padding: 2rem 0;
	}

	.header-text {
		width: 80%;
	}

	legend {
		margin-bottom: 2rem;
	}

	fieldset {
		gap: 1rem;
	}
	input {
		width: 100%;
	}

	.form-row {
		/* flex-direction: column; */
		gap: 1rem;
	}
	.call-to-action {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}

	.header-text,
	.form-wrapper,
	.call-to-action {
		margin: 0 auto;
	}
}

@media screen and (max-width: 420px) {
	.form-row {
		flex-direction: column;
	}
}
